{% extends "base.html"}

{% block contenido %}
<h2>calculadora de gastos energeticostmb & get) </h2>

‹form action="/re" method="post">
‹ label for="peso"›peso:</label>br>
‹input type="text" id="peso" name= "peso" required>br><br>

<label for="altura"›altura: </label×<br>
‹input type-"text" id="peso" name-"peso" required›br><br>
  
<label for="edad">edad: </label><br>
‹textarea id-"edad" name-"edad" required›</textareax<br><br>
  
‹label for="genero" ›genero: </label><br>
‹textarea id-"genero" name-"genero" required>/textarea><br><br>

‹Label for="na">nivel de actividad:</label><br>
‹textarea id-"na" name-"na" required>/ textarea>br><br>

«button class-"btn btn-success" type-"submit" >calcular tmb & get </button>
</ form>
{% endblock %}
